<p-table
  [value]="compras"
  dataKey="idCompra"
  [scrollable]="true"
  scrollHeight="calc(100vh - 310px)">
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 3rem"></th>
      <th>Codigo compra</th>
      <th>Usuario</th>
      <th>Total compra</th>
      <th>Tipo pago</th>
      <th>Fecha compra</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product let-expanded="expanded">
    <tr>
      <td>
        <button type="button" pButton pRipple [pRowToggler]="product"
                class="p-button-text p-button-rounded p-button-plain"
                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
      </td>
      <td>{{product.codigoCompra}}</td>
      <td>{{product.persona.nombres}} {{product.persona.apellidos}}</td>
      <td>{{product.totalCompra | currency:'USD'}}</td>
      <td>{{product.tipoPago.descripcionTipoPago}}</td>
      <td>{{product.fechaRegistro | date: 'yyyy-MM-dd'}}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="rowexpansion" let-product>
    <tr>
      <td colspan="7">
        <div class="p-p-3">
          <p-table [value]="product.detallesCompra" dataKey="idDetalleCompra">
            <ng-template pTemplate="header">
    <tr>
      <th>Código Barras</th>
      <th>Descripción Articulo</th>
      <th>Cantidad comprada</th>
      <th>Categoria</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-order>
    <tr>
      <td>{{order.articulo.codigoBarras}}</td>
      <td>{{order.articulo.descripcion}}</td>
      <td>{{order.cantidad}}</td>
      <td>{{order.articulo.categoriaEntity.descripcion}}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="6">No se han realizado pedidos</td>
    </tr>
  </ng-template>
</p-table>

